---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import QueEs from '../components/QueEs.astro';
import Ejes from '../components/Ejes.astro';
import Convocatoria from '../components/Convocatoria.astro';
import Participacion from '../components/Participacion.astro';
import Comite from '../components/Comite.astro';
import Ponentes from '../components/Ponentes.astro';
import Programa from '../components/Programa.astro';
import Galeria from '../components/Galeria.astro';
import SedeFecha from '../components/SedeFecha.astro';
import FAQ from '../components/FAQ.astro';
import FloatingCTA from '../components/FloatingCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <QueEs />
    <Ejes />
    <Convocatoria />
    <Participacion />
    <Comite />
    <Ponentes />
    <Programa />
    <Galeria />
    <SedeFecha />
    <FAQ />
  </main>
  <FloatingCTA />
  <Footer />
</Layout>
